.pagination {
  max-width: 1000px;
  margin: 10px auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;

  li {
    list-style-type: none;

    span {
      text-decoration: none;
      font-weight: bold;
      color: #fff;
      cursor: pointer;
      text-shadow: 0 0 4px rgba(0,0,2px,0.9), 0 0 4px rgba(0,0,4px,0.9), 0 0 4px rgba(0,0,6px,0.9);

      &:hover {
        text-decoration: underline;
      }
    }

    &.previous {
      text-align: left;
    }

    &.next {
      text-align: right;
    }
  }
}

.disabled {
  span { display: none; }
}