.char-list {
  margin: 10px auto;
  max-width: 1000px;
}

.char-item {
  min-width: 300px;
  max-width: calc(100vw - 1.25em); 
  margin: 10px auto 20px;
  padding: 0;
  background: rgb(255,255,255);
  background: rgba(255,255,255,0.75);
  border: solid 1px #fff;

  h2 {
    padding-bottom: 20px;
    text-align: center;
    border-bottom: solid 1px #fff;
  }

  dl {
    display: flex;
    flex-wrap: wrap;

    dt, dd {
      width: 25%;
      margin: 0;
      padding: 0;
    }

    dt:nth-child(n+4), dd:nth-child(n+6) {
      width: 50%;
      margin-top: 10px;
    }

    dt {
      padding-right: 10px;
      text-align: right;
    }

    dd {
      padding-left: 10px;
      text-align: left;
    }
  }

  @media screen and (min-width: 600px) {
    $margin: 5px;
    & {
      min-width: auto;
      width: calc(50% - 20px);
      display: inline-block;

      &:nth-child(2n+1) {
        margin-right: $margin;
      }

      &:nth-child(2n+2) {
        margin-left: $margin;
      }
    }
  }

  @media screen and (min-width: 800px) {
    dl {
      dt:nth-child(n+4), dd:nth-child(n+6) {
        width: 25%;
      }
    }
  }
}